.container {
    display: flex;
    flex-direction: column;
}

.card {
    max-width: 600px;
    margin-top: 40px;
}

.center {
    justify-content: center;
    text-align: center;
    display: flex;
}
