<mat-toolbar color="primary" class="app-header">
    <span>
        DH simple encoder
    </span>
    <span class="nav-tool-items">
        <ng-container *ngIf="!(state$ | async)?.auth?.isAuthenticated">
            <a mat-button routerLink="auth/sign-in" routerLinkActive="active">Login</a>
            <a mat-button routerLink="auth/sign-up" routerLinkActive="active">Register</a>
        </ng-container>
        <ng-container *ngIf="(state$ | async)?.auth?.isAuthenticated">
            <button mat-button>{{(state$ | async)?.auth?.email}}</button>
            <button mat-button (click)="signOut()">Logout</button>
        </ng-container>
    </span>
</mat-toolbar>
<router-outlet></router-outlet>
